:root {
    line-height: 150%;
    font-weight: 400;

    --main-gradient: linear-gradient(180deg, #8A4BF1 0%, #6C60F4 100%);
    --main-bg-color: #F9F9FF;
    --main-bg-secondary-color: #ebe8ff;
    --main-purple-dark-color: #6C60F4;
    --main-purple-light-color: #8A4BF1;
    --main-white-color: #fff;
    --main-text-color: #0C1E36;
    --main-error-color: #ec3333;
    --main-success-color: #51F14BFF;

    --main-transition-delay: 200ms;
    --main-transition-fn: ease-in;

    --main-border-radius: 1rem;

    --header-z-index: 100;

    --breakpoint-xs: 0;
    --breakpoint-sm: 59.9rem;
    --breakpoint-md: 89.9rem;
    --breakpoint-lg: 119.9rem;
    --breakpoint-xl: 153.5rem;
}

*, :after, :before {
    box-sizing: border-box;
}


html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: var(--main-text-color);
}

html, body {
    width: 100%;
    height: 100%;
    letter-spacing: normal;
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
}