.baseTableWrapper {
}

.baseTableContainer {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 40rem;
    background-color: var(--main-white-color);
}

.baseTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}