.baseTableWrapper {
    display: flex;
    flex-direction: column;
}

.baseTableContainer {
    max-width: 100%;
    overflow-x: auto;
    flex: 1 1 auto;
    min-height: 30rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    background-color: var(--main-white-color);
}

.baseTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    min-width: 65rem;
}

.baseTable > thead {
    display: table-header-group;
}

.baseTable > thead > tr {
    color: inherit;
    outline: 0;
    display: table-row;
    vertical-align: middle;
}

.baseTable > thead > tr th {
    font-weight: 700;
    background-color: var(--main-bg-secondary-color);
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: left;
    padding: 1.8rem;
    display: table-cell;
    vertical-align: inherit;
    color: var(--main-text-color);
}

.baseTable > tbody {
    display: table-row-group;
}

.baseTable.baseTableSticky > thead > tr th:last-of-type {
    background-color: var(--main-bg-secondary-color);
}

.baseTable.baseTableSticky > tbody > tr td:last-of-type {
    background-color: var(--main-white-color);
}

.baseTable.baseTableSticky > thead > tr th:last-of-type,
.baseTable.baseTableSticky > tbody > tr td:last-of-type {
    position: sticky;
    z-index: 10;
    right: -.1rem;
    filter: drop-shadow(-0.1rem 0.7rem 2px rgba(0, 0, 0, 0.1));
}

.baseTableEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}