.tableHead {
    display: table-header-group;
}

.tableHeadRow {
    color: inherit;
    outline: 0;
}

.tableHeadRow th {
    font-weight: 700;
    line-height: 150%;
    background-color: var(--main-bg-secondary-color);
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: left;
}
